body {
    padding-bottom: 20px;
    color: #5a5a5a;
}

.navbar-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
}


.carousel {
    height: 500px;
    margin-bottom: 50px;
}

.carousel-item {
    height: 500px;
    background-color: blue;
}

.carousel-item img{
    position: absolute;
    height: 1200px;
    min-width: 100%;
    top: 0;
    left: 0;

}